html, body{
    background-color: #eeeeee;
    font-family: Roboto, arial;
    padding: 0;
    font-size: 14px;
    margin: auto;
    height: 100%;
}

header{
  width: 100%;
  height: calc(100% - 50px);
  margin: auto;
  font-size: 36px;
}

.bg{
  top: 0px;
  background-image: url("https://previews.123rf.com/images/wavebreakmediamicro/wavebreakmediamicro1509/wavebreakmediamicro150910161/44571707-portrait-of-happy-college-students-gesturing-thumbs-up-in-library.jpg");
  background-size: cover;
  background-position: top;
  filter: brightness(70%);
  height: 100%;
  font-size: 100%;
}

.bgtext{
  margin-top: 50px;
  padding-left: 50px;
  position: absolute;
  top: 10px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

h1{
  margin: auto;
  font-size: 72px;
  color: white;
}

h2{
    font-size: 36px;
    color: white;
    float: left;
    margin: 0;
}

#navbar{
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color: #00a8e8;
  /*box-shadow: 0px 2px 10px #393e46;*/
}

.navbar{
}

.leftnavbar{
  float: right;
  margin-right: 20px;
}

.menu{
  text-decoration: none;
  color: white;
  font-size: 18px;
  float: left;
  padding: 0px 15px;
  padding-top: 14px;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.menu:hover{
  background-color: orange;
}

.searchbox{
  width: 40%;
  margin-top: 10px;
  float: right;
  margin-right: 20px;
}

.search{
  float: right;
  background-color: white;
  border: none;
}

input.search{
  width: 80%;
  max-width: 300px;
  background-color: white;
  height: 30px;
  padding-left: 20px;
  font-size: 15px;
  border-radius: 25px;
}

button.search{
  margin-top: 5px;
  border-radius: 15px;
  background-color: inherit;
  cursor: pointer;
}

.material-icons{
  border-radius: 25px;
  color: white;
}

input.search::placeholder {
  font-style: italic;
  font-size: 15px;
}

.content{
  width: 90%;
  margin: auto;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  width: 100%;
}

.sticky + .content {
  padding-top: 40px;
}

div.address{
  width: 80%;
  margin: 20px 0px;
  font-style: italic;
}

span.address{
  font-weight: bold;
}

.main{
}

.sidebar{
  float: left;
  width: 20%;
  max-width: 240px;
  height: 100%;
  overflow: hidden;
  margin-bottom: 20px;
  /*box-shadow: 2px 2px 10px gray;*/
}

.intoduction{
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

nav{
  padding: 10px 20px 20px 20px;
  min-width: 100px;
  width: 100%;
  background-color: white;
}

.material{
  list-style-type: none;
  color: black;
  text-decoration: none;
  width: 30%;
  min-width: 90px;
  margin-right: 10px;
  border-left-style: solid;
  border-left-color: rgba(0, 0, 0, 0);
  padding-left: 5px;
}

.material:hover{
  /*background-color: rgb(240, 240, 240, 0.5);*/
  /*border-left-color: #00a8e8;*/
  text-decoration: underline;
}

div.lessons{
  min-width: 100px;
  display: flex;
  flex-wrap: wrap;
}

.container{
    margin-left: 20px;
    width: calc(80% - 20px);
    float: left;
}

.lessoncontainer{
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
}

.lesson{
    width: 43%;
    overflow: hidden;
    background-color: white;
    padding: 0px 20px 20px 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-top-style: solid;
    border-top-color: #00a8e8;
    /*box-shadow: 2px 2px 10px gray;*/
}

.learnbtn{
  display: flex;
  justify-content: flex-end;
}

.title{
  font-size: 18px;
  font-weight: bold;
}

.description{
}

p.lessonnavtitle{
  font-size: 16px;
  font-weight: bold;
  max-width: 80%;
}

button.learnmore{
  bottom: auto;
  border: none;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #00a8e8;
  color: white;
  transition: .3s;
  display: flex;
  justify-content: flex-end;
}

button.learnmore:hover{
  background-color: orange;
  transition: .3s;
  cursor: pointer;
}

.notice{
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: rgba(200, 0, 0, 0.5);
  padding: 10px;
  color: white;
  box-shadow: 0px 2px 5px rgb(50, 50, 50);
  border-radius: 15px;
}

@media screen and (max-width: 550px)  {
  .sidebar { display: none; }
  nav { display: none; }
  .container { width: auto;
              margin: 0px 20px;}
}

@media screen and (max-width: 1288px)  {
  .lesson { width: 100%; }
}

@media screen and (max-width: 906px)  {
  .sidebar { width: 100%;
  max-width: 100%; }
  .container { width: 100%;
                margin-left: 0;}
  .lesson { margin-right: 0; }
  h1{
  font-size: 10vw;
  }
  h2{
  font-size: 5vw;
  }
}
